/* Add CSS Styling */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.click,
.no-click {
    font-size: 28px;
    font-family: Helvetica, "Times New Roman" , sans-serif;
}

.click {
    background-color: black;
    color: white;
}

.no-click {
    background-color: yellow;
}