/* Add CSS Styling */

.impar {
    background-color: #FFC0CB;
    font-family: Verdana, "Dejavu Sans", sans-serif
}

#unico2 {
    color: #0000ff;
    font-size: 36px;
}

.especial {
    font-size: 24px;
}

#unico4 {
    background-color: #90ee90;
    font-weight: bold;
}