* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.external {
    color: white;
    background-color: red;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin: 5px;
    padding: 10px;
}